<div class="container max-w-7xl flex flex-col mx-auto p-8">
  <div class="flex justify-between items-center mb-5">
    <div class="flex items-center gap-4">
      <!-- <input
        type="text"
        [formControl]="titleFormControl"
        class="px-2 py-3 bg-white text-emerald-950 text-2xl font-bold rounded-md focus:outline-none focus:ring-1 focus:ring-emerald-500 max-sm:text-sm hover:bg-gray-50"
      />
      <button
        *ngIf="
          titleFormControl.dirty && titleFormControl.value !== boardInfo.title
        "
        [disabled]="titleFormControl.invalid"
        class="font-medium disabled:text-gray-400"
        (click)="saveBoardTitle()"
      >
        Save
      </button> -->
      <h2
        class="p-1 w-auto bg-white text-emerald-950 text-2xl font-bold rounded-md focus:outline-none focus:ring-1 focus:ring-emerald-500 max-sm:text-sm"
      >
        {{ boardInfo.title }}
      </h2>
    </div>

    <!-- <button
      class="flex items-center rounded w-fit text-start border border-zinc-200 hover:bg-gray-200 px-3 py-2 text-slate-600"
      (click)="createList()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
      Add List
    </button> -->
  </div>
  <div
    [formGroup]="listForm"
    class="px-2 py-3 flex justify-start items-start gap-4 max-w-full overflow-x-auto"
  >
    <ng-container formArrayName="lists">
      <div
        *ngFor="let listControl of listFormArray.controls; let i = index"
        class="min-w-[300px] min-h-[400px] relative max-h-[600px] overflow-y-auto bg-slate-50 border border-slate-200 rounded-md"
      >
        <div
          class="flex justify-between gap-4 sticky top-0 p-2 py-1 z-10 bg-gray-50 shadow-md shadow-gray-200"
        >
          <div class="w-full flex justify-between items-center">
            <h2
              class="p-1 text-emerald-950 text-xl rounded-md focus:outline-none focus:ring-1 focus:ring-emerald-500 max-sm:text-sm"
            >
              {{ listControl.value }}
            </h2>
          </div>
        </div>

        <div
          #list="cdkDropList"
          cdkDropList
          class="flex flex-col justify-center gap-y-3 px-2 min-h-[60px]"
          [cdkDropListData]="getListData(i)"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            *ngIf="getListData(i).length === 0 && !isDragging"
            class="text-gray-300 text-center"
          >
            You can drop a task here
          </div>
          <app-list-item
            *ngFor="let item of getListData(i)"
            [cardInfo]="item"
            (dragStart)="onDragStart()"
            (dragEnd)="onDragEnd()"
            (onRemove)="deleteCard($event, i)"
          />
        </div>
        <app-item-form
          *ngIf="!hideForm && formIndex === i"
          (onSave)="addCard($event, i)"
          (onCancel)="hideForm = true"
        />
        <div
          class="sticky bottom-0 p-2 z-10 bg-gray-50 border-t-2 border-gray-200"
        >
          <button
            [disabled]="isDragging"
            class="w-full rounded hover:bg-gray-200 p-2 text-slate-600 disabled:pointer-events-none disabled:opacity-50"
            (click)="showTaskForm(i)"
          >
            Add Task
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
