<div class="container max-w-7xl flex flex-col mx-auto p-8">
  <!-- <input
    type="text"
    [(ngModel)]="boardInfo.title"
    class="block w-full px-3 space-x-4 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
  /> -->
  <!-- <div class="flex gap-4"> -->
  <!-- <button class="font-medium" *ngIf="titleChanged" (click)="saveBoardTitle()">
      Save
    </button> -->
  <!-- </div> -->
  <div class="flex justify-between items-center mb-5">
    <div class="flex items-center gap-4">
      <!-- <input
        type="text"
        [formControl]="titleFormControl"
        class="px-2 py-3 bg-white text-emerald-950 text-2xl font-bold rounded-md focus:outline-none focus:ring-1 focus:ring-emerald-500 max-sm:text-sm hover:bg-gray-50"
      />
      <button
        *ngIf="
          titleFormControl.dirty && titleFormControl.value !== boardInfo.title
        "
        [disabled]="titleFormControl.invalid"
        class="font-medium disabled:text-gray-400"
        (click)="saveBoardTitle()"
      >
        Save
      </button> -->
      <h2
        class="p-1 w-auto bg-white text-emerald-950 text-2xl font-bold rounded-md focus:outline-none focus:ring-1 focus:ring-emerald-500 max-sm:text-sm"
      >
        {{ boardInfo.title }}
      </h2>
    </div>

    <button
      class="flex items-center rounded w-fit text-start border border-zinc-200 hover:bg-gray-200 px-3 py-2 text-slate-600"
      (click)="createList()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
      Add List
    </button>
  </div>
  <div
    [formGroup]="listForm"
    class="px-2 py-3 flex justify-start items-start gap-4 max-w-full overflow-x-auto "
  >
    <ng-container formArrayName="lists">
      <div
        *ngFor="let listControl of listFormArray.controls; let i = index"
        class="min-w-[300px] min-h-[400px] space-y-4 relative max-h-[600px] overflow-y-auto bg-slate-50 border border-slate-200 rounded-md"
      >
        <div class="flex justify-between gap-4 sticky top-0 p-2 py-1 z-10 bg-gray-50 shadow-md shadow-gray-200">
          <div class="w-full flex justify-between items-center ">
            <h2
              class="p-1 text-emerald-950 text-xl rounded-md focus:outline-none focus:ring-1 focus:ring-emerald-500 max-sm:text-sm"
            >
              {{ listControl.value }}
            </h2>
            <button
              *ngIf="!isDragging"
              class="group-hover:block rounded  hover:bg-gray-200 p-2 text-slate-600"
              (click)="addCard(i)"
            >
              Add Task
            </button>
          </div>
          <!-- <form class="w-fit">
            <input
              type="text"
              [formControl]="listControl"
              class="px-2 py-3 w-auto bg-white text-emerald-950 text-xl rounded-md focus:outline-none focus:ring-1 focus:ring-emerald-500 max-sm:text-sm hover:bg-gray-50"
            />
            <button
              *ngIf="listControl.dirty"
              [disabled]="listControl.invalid"
              class="font-medium disabled:text-gray-400"
              (click)="saveListTitle(i)"
            >
              Save
            </button>
          </form> -->
        </div>

        <div
          #list="cdkDropList"
          cdkDropList
          class="flex flex-col gap-y-3 px-2"
          [cdkDropListData]="getListData(i)"
          (cdkDropListDropped)="drop($event)"
        >
          <app-list-item
            *ngFor="let item of getListData(i)"
            [cardInfo]="item"
            [dragDisabled]="item.title === ''"
            (dragStart)="onDragStart()"
            (dragEnd)="onDragEnd()"
            (onSave)="updateCard($event)"
          />
        </div>
      </div>
    </ng-container>
  </div>
</div>
